@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>오일석 봇 for 카카오톡</title>
</head>
<body>
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>오일석 봇 for 카카오톡</h1>
        </div>
        <p class="lead">카카오톡에서 오일석 봇 플러스 친구를 찾아서 대화를 인사를 해보세요.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">오일석</p>
        </div>
    </footer>
</body>
</html>
    