
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>진에어 챗봇 for 카카오톡</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>진에어 챗봇 for 카카오톡</h1>
        </div>
        <p class="lead">진에어 챗봇은 카카오톡에서도 이용 가능합니다. 카카오톡에서 진에어 챗봇 플러스 친구를 추가하세요.</p>
        <p>친구 추가 방법은 아래 그림을 참조하세요.</p>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">진에어</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
    